//
// Color type-1
// --------------------------------------------------

//brand-colors
$base-color-lighten-1: #e6f2f2;
$base-color-lighten-1-dark: darken($base-color-lighten-1, 10%);

$base-color-lighten: #c3e5e5;
$base-color-light: #1DBFB2;
$base-color-main: #3AA69D;
$base-color-dark: #0072bb;
$base-color-darken: #204040;


//brand-info
$color-type-1a: #3A5EA6;
$color-type-1b: #297ca6;
$color-type-1c: #1e61a6;

//brand-danger
$color-type-2a: #A63A3A;
$color-type-2b: #d93636;
$color-type-2c: #e52222;

//brand-warning
$color-type-3a: #FF9C59;
$color-type-3b: #ff9500;
$color-type-3c: #ff7f00;

//brand-success
$color-type-4a: #3AA65E;
$color-type-4b: #53a661;
$color-type-4c: #269973;

//brand-info
$color-type-6a: #694BA6;
$color-type-6b: #FF99B4;

//black&white
$white-lighten: #fff;
$white: #f7f7f7;
$white-darken: #f0f0f0;

$gray-lighten: #bfbfbf;
$gray-light: #8c8c8c;
$gray: #404040;
$gray-darken: #ccc;
$gray-darken-1: #bbb;
$gray-darken-2: #777;

$black: #252525;
$black-darken: #000;
