.hidden__lg
  .is-row
    .is-col.is-col__md-6.is-col__xs-12.aside-item
      include ../components/_journal-banner
    .is-col.is-col__md-6.is-col__xs-12.aside-item.text--center
      img(src='images/banner-index.jpg', alt='')
    .is-col.is-col__md-6.is-col__xs-12.aside-item
      .news-list.news-list--long
        .news-list__title
          i.is-icons.is-icons--author
          h3 Другие статьи этого автора
        .news-list__body
          .news-list__item
            a(href='#') Запрет бэби-боксов
            .time
              i.is-icons.is-icons--clock
              span 7 минут
          .news-list__item
            a(href='#') Пропить маткапитал
            .time
              i.is-icons.is-icons--clock
              span 7 минут
          .news-list__item
            a(href='#') Принудительный аборт для либерала
            .time
              i.is-icons.is-icons--clock
              span 7 минут                
    .is-col.is-col__md-6.is-col__xs-12.aside-item.text--center
      include ../components/_signme-a
