.hidden__lg
  .is-row
    .is-col.is-col__md-6.is-col__xs-12.aside-item
      include ../components/_journal-banner
    .is-col.is-col__md-6.is-col__xs-12.aside-item.text--center
      img(src='images/banner-index.jpg', alt='')
