.comments
  .comments__title 
    h3 Комментарии (14)  
  .comments-inner
    .comments__body
      .media.comments__item
        .media__img: img(src="images/avacom.png" alt="")
        .media__body
          .media__head
            .media__head-item
              b Мария
              span.text__sm.text--grey 1 час назад
            .media__head-item
              a.text--success(href='#')
                i.is-icons.is-icons--like
                b 5
              a.text--danger(href='#')
                i.is-icons.is-icons--dislike
                b 5
          p На самом деле все гораздо сложнее и… печальнее.
          a.link--u(href='#') Ответить
          .media
            .media__img: img(src="images/avacom-1.png" alt="")
            .media__body
              p: a.text--grey(href='#')
                i.is-icons.is-icons--answer
                b Мария
              .media__head
                .media__head-item
                  b Мария
                  span.text__sm.text--grey 1 час назад
                .media__head-item
                  a.text--success(href='#')
                    i.is-icons.is-icons--like
                    b 5
                  a.text--danger(href='#')
                    i.is-icons.is-icons--dislike
                    b 5
              p На самом деле все гораздо сложнее и… печальнее.
              a.link--u(href='#') Ответить
              .media
                .media__img: img(src="images/avacom.png" alt="")
                .media__body
                  p: a.text--grey(href='#')
                    i.is-icons.is-icons--answer
                    b Мария
                  .media__head
                    .media__head-item
                      b Мария
                      span.text__sm.text--grey 1 час назад
                    .media__head-item
                      a.text--success(href='#')
                        i.is-icons.is-icons--like
                        b 0
                      a.text--danger(href='#')
                        i.is-icons.is-icons--dislike
                        b 0
                  p На самом деле все гораздо сложнее и… печальнее.
                  a.link--u(href='#') Ответить
      .media.comments__item
        .media__img: img(src="images/avacom-2.png" alt="")
        .media__body
          .media__head
            .media__head-item
              b Мария
              span.text__sm.text--grey 1 час назад
            .media__head-item
              a.text--success(href='#')
                i.is-icons.is-icons--like
                b 545
              a.text--danger(href='#')
                i.is-icons.is-icons--dislike
                b 54
          p Само собой, встречаются бабушки и дедушки, которые даже в преклонном возрасте полны исключительно собственной персоной, и никто в мире им не требуется, даже внуки.
          a.link--u(href='#') Ответить
    .comments__footer
      .text--center
        a.btn.btn--outlined.show--js(href-'#')
          i.is-icons.is-icons--comments
          span Оставить комментарий
      .hide
        .is-col__lg-11
          .media
            .media__img: img(src="images/avacom-2.png" alt="")
            .media__body
              p: b Ваш комментарий
              .form__group
                textarea.control(placeholder='Введите ваш комментарий', rows='4')
          .text--right
            button.btn.btn--primary(type='submit') Отправить
