.journal-banner
  .journal-banner__inner
    a.journal-banner__img(href='#')
      .journal-banner__date Дата выпуска: 17.12.2017
      img(src='images/journal.jpg', alt='')
    a.btn.btn--link(href='#') 
      span Все выпуски
      i.is-icons.is-icons--btn-arr
