nav.nav
    if adaptive == true
        //- .main-nav__collapse
        .priority-menu--js1.priority-menu
            +menu(navigation)
            .js-overflow-trigger.overflow-trigger(aria-hidden="true")             
              .visible__sm.visible__xs
                img(src='images/more-horiz.png', alt='')
              span.hidden__sm.hidden__xs ... 
            nav.overflow(aria-hidden="true", data-behaviour="menu")
    else 
        +menu(navigation)
