#form-id.mfp-hide.main-popup.main-popup--md.main-popup--bg
    .popup-close.popup-modal-dismiss: i.is-icons.is-icons--close-w
    .main-popup-body.text--center
      .is-col__md-7.centered-block
        .main-popup-title
          h3 Вход на сайт
        form(action="#" method="method")
          ul.list--inline.mb30
            li
              span.text--grey.text__md Войти через:            
            li: a(href='#'): img(src='images/icons/fa.svg', alt='')
            li: a(href='#'): img(src='images/icons/vk.svg', alt='')
            li: a(href='#'): img(src='images/icons/odn.svg', alt='')
            li: a(href='#'): img(src='images/icons/twitter.svg', alt='')
          .form__group
            input.control(type='text', placeholder='Ваш логин', name='name')
          .form__group.control--typepass
            input.control#password(type='password', placeholder='Пароль', name='password')
            i.is-icons.is-icons--eye-g(onclick="if(password.type=='text')password.type='password'; else password.type='text';")
          .mb30.text--left
            a.link--u.text--grey(href='#') Забыли пароль?
          .form__group
            button.btn.btn--primary(type='submit') Войти
    .main-popup-footer.text--center
      .is-col__md-7.centered-block
        h4.mb20 Еще не регистрировались?
        .form__group
          a.btn.btn--outlined(href='#') Зарегистрироваться
