section.search-block
  .container
    i.is-icons.is-icons--search-block
    h2 Не нашли что искали?
    h4 Попробуйте тут:
  .search-block__body
    .container
      form.is-col__lg-8.centered-block(action="" method="method")
        .input-group
          input.control(type='email', placeholder='Поиск')
          .input-group--btn
            button.btn.btn--primary.btn--full(type='submit') Искать
