.signme.signme--a
  form.text--center(action="" method="method")
    img(src='images/icons/signme.svg', alt='')
    h2 Подписка на самое интересное
    h4 Мы отбираем для вас все самое лучшее :)
    .form__group
      input.control(type='email', placeholder='Ваш E-mail')
    button.btn.btn--primary.btn--full(type='submit') Подписаться
