.signme
  form.is-col__lg-8.centered-block(action="" method="method")
    .hidden__lg.hidden__md
      img(src='images/icons/signme.svg', alt='')
    h2 Подписка на самое интересное
    h4 Мы отбираем для вас все самое лучшее :)
    .input-group
      input.control(type='email', placeholder='Ваш E-mail')
      .input-group--btn
        button.btn.btn--primary.btn--full(type='submit') Подписаться
