//
// Base -> Scaffolding
// --------------------------------------------------

//
// Make all elements box-sizing
//
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//
// Delete focus border
//
a:active, a:focus {outline: none;}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
button:active, button:focus {outline: none;}
:focus {outline:none;}
button::-moz-focus-inner {border: 0;}

//
// Clearfix
//
.clearfix {
  @include clearfix();
}

//
// HTML
//
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

//
// Basic typography styles
//
body {
  background-color: $base-background;
  color: $base-color;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
}


//
// Link
//
a {
  color: $link-color;
  text-decoration: none;
  @include transition;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }

  &.link--u {
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}

i {
  font-style: italic;
  font-weight: 400;
}

//
// Images
//
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

//
// Display none
//
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}

.flex--left {
  margin-left: auto;
}

.flex--right {
  margin-right: auto;
}

.flex--center {
  margin-left: auto;
  margin-right: auto;
}

.pb20 {
  padding-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 50px;
}
.my20 {
  @extend .mb30;
  @extend .mt30;
}
.my30 {
  @extend .mb30;
  @extend .mt30;
}
