//
// Modules -> Forms
// --------------------------------------------------


fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($base-font-size * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
}

label {
  display: block;
  max-width: 100%;
  margin: 5px 0;
  color: #8493a8;
}


input[type="search"] {
  @include box-sizing(border-box);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}


// Common form controls
.control {
  display: block;
  width: 100%;
  height: 45px;
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  &:hover {
    border-color: $base-color-main;
  }

  .error {
    border-color: #a63a3a;
  }

  @include form-control-focus;

  @include placeholder;

  &--typepass {
    position: relative;

    i {
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 14px;
    }
  }

}

// Reset height for `textarea`s
textarea.control {
  height: auto;
  resize: none;
}

select.control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
  background: url("../images/icons/arrow-down.png") no-repeat center right 10px, $input-bg;
  &:focus {
    background: url("../images/icons/arrow-up.png") no-repeat center right 10px, $input-bg;
  }
}

// Search inputs in iOS
input[type="search"] {
  -webkit-appearance: none;
}


.form__group {
  margin-bottom: $form-group-margin-bottom;
}


// Checkboxes and radios
.radio,
.checkbox {
  position: relative;
  display: block;

  label {
    padding-left: 25px;
    margin: 0;
    cursor: pointer;
    color: #1c1c1c;
    line-height: 1.6;

    &:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid $base-color-main;
      background-color: $input-bg;
    }
  }
  &:disabled {
    color: #797979;
    &:after {
      border-color: #8c8c8c;
    }
  }
}

.checkbox {
  input[type="checkbox"] {display: none;}
}
.radio {
  input[type="radio"] {display: none;}
}
.checkbox label{
  &:after {
    @include border-radius(0);
  }
}
.radio label {
  &:after {
    width: 12px;
    height: 12px;
    @include border-radius(50%);
  }
}

.checkbox input[type="checkbox"]:checked + label:after {
  background: url('../images/icons/icon-checkbox.svg') center center no-repeat, $input-bg;
}
.radio input[type="radio"]:checked + label:after {
  background: url('../images/icons/icon-radio.svg') center center no-repeat, $input-bg;
}


.radio + .radio,
.checkbox + .checkbox {
  margin-top: 20px;
}


@if $use-input-group == true {
  .input-group {
    position: relative;
    @media screen and (min-width: $screen-md) {
      display: table;
      border-collapse: separate;
    }

    &[class*="cell-"] {
      float: none;
      padding-left: 0;
      padding-right: 0;
    }
    .control {
      @media screen and (min-width: $screen-md) {
          position: relative;
          z-index: 2;
          float: left;
          width: 100%;
          margin-bottom: 0;
      }
    }
  }
  .input-group--btn,
  .input-group .control {
    @media screen and (min-width: $screen-md) {
      display: table-cell;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
  .input-group--btn {
    vertical-align: middle;
    margin-top: 20px;
    @media screen and (min-width: $screen-md) {
      width: 1%;
      white-space: nowrap;
      margin-top: 0;
    }
  }



  // Reset rounded corners
  .input-group .control:first-child,
  .input-group--btn:first-child > .btn,
  .input-group--btn:first-child > .btn-group > .btn,
  .input-group--btn:last-child > .btn-group:not(:last-child) > .btn {
    @include border-right-radius(0);
  }

  .input-group .control:last-child,
  .input-group--btn:last-child > .btn,
  .input-group--btn:last-child > .btn-group > .btn,
  .input-group--btn:first-child > .btn:not(:first-child),
  .input-group--btn:first-child > .btn-group:not(:first-child) > .btn {
    @include border-left-radius(0);
  }

  .input-group--btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;

    > .btn {
      position: relative;
      + .btn {
        margin-left: -1px;
      }
      &:hover,
      &:focus,
      &:active {
        z-index: 2;
      }
    }
    &:first-child {
      > .btn,
      > .btn-group {
        margin-right: -1px;
      }
    }
    &:last-child {
      > .btn,
      > .btn-group {
        z-index: 2;
        margin-left: -1px;
      }
    }
  }
}
