//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: $white-lighten;
  background-color: $gray;
  font-family: 'latoregular';
  .main-nav {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    &__item {
      width: 50%;
      @media screen and (min-width: $screen-md) {
        width: auto;
      }
    }
  }
  &__copy {
    color: #aaa;
    margin-top: 20px;
    font-size: 10px;
    @media screen and (min-width: $screen-md) {
      font-size: 14px;
      margin-top: 0;
    }
  }
  .main-nav {
    @extend .between__xs;
    margin-left: 0;
    &__link {
      color: $white-lighten;
      padding: 10px 0;
    }
  }
}

.rating {
  display: flex;
  @extend .bottom__xs;
  text-transform: uppercase;
  font-family: 'latoheavy';
  font-size: 12px;
  margin-top: 10px;
  @media screen and (min-width: $screen-adaptive-nav) {
    margin-top: 0;
    font-size: 14px;
  }

  img {
    margin-left: 10px;
    height: 20px;
    @media screen and (min-width: $screen-adaptive-nav) {
      margin-left: 15px;
      height: auto;
    }
  }
}
