//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  background-color: $white-lighten;
  &__bottom,
  &__top {
    padding: 12px 0;
    height: 45px;
  }
  &__in {
    font-family: 'latoheavy';
    text-align: right;
    @extend .text--uppercase;
    ul {margin: 0;}
    li {
      vertical-align: middle;
      padding: 0;
    }
  }
  &__bottom {
    position: absolute;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 5px;
      right: 10px;
      width: calc(100% - 15px);
      height: 2px;
    }
    &.active::after,
    &:hover::after {
        background-color: $color-type-6b;
    }
    .main-nav {
      margin-left: 0;
      @media screen and (min-width: $screen-md) {
        margin-left: -10px;
      }
      &__link {
        font-size: 14px;
        text-transform: uppercase;
        color: $base-color-main;
        font-family: 'latoheavy';
        padding: 13px 18px;
        &.active,
        &:active,
        &:hover {
          text-decoration: none;
          color: $white-lighten;
          background-color: $color-type-1a;
        }
      }

      &__item {
        &:first-child a {
          &.active,
          &:active,
          &:hover {
            background-color: $color-type-1a;
          }
        }
        &:nth-child(2) a {
          &.active,
          &:active,
          &:hover {
            background-color: $color-type-6b;
          }
        }
        &:nth-child(3) a {
          &.active,
          &:active,
          &:hover {
            background-color: $color-type-2a;
          }
        }
        &:nth-child(4) a {
          &.active,
          &:active,
          &:hover {
            background-color: $color-type-3a;
          }
        }
        &:nth-child(5) a {
          &.active,
          &:active,
          &:hover {
            background-color: $color-type-6a;
          }
        }
        &:nth-child(6) a {
          &.active,
          &:active,
          &:hover {
            background-color: $color-type-4a;
          }
        }
      }
    }
  }
  &__middle {
    height: 120px;
    display: block;
    background: #404040;
    padding: 18px 0;
    display: flex;
    align-items: center;
    // justify-content: center;
    @media screen and (min-width: $screen-md) {
      height: 108px;
      background: url('../images/header-t.jpg') no-repeat top center, #404040;
    }
    @media screen and (min-width: $screen-lg) {
      background: url('../images/header-d.jpg') no-repeat top center, #404040;
    }
    a {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      @media screen and (min-width: $screen-md) {
        text-align: left;
        margin-left: 0;
      }
    }
    .btn {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 290px;
      height: 50px;
      margin-top: 10px;
      color: $white-lighten;
      padding: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      border-radius: 27px;
      border-color: #ff3e3e;
      @media screen and (min-width: $screen-md) {
        margin-top: 0;
        text-align: right;
        margin-right: 0;
        width: 270px;
        font-size: 12px;
      }
      @media screen and (min-width: $screen-lg) {
        width: 300px;
        font-size: 14px;
      }
      &:focus,
      &:active,
      &:hover {
        background-color: $black;
      }
      span {
        text-align: left;
      }
    }
  }
  &__js {
    position: fixed;
    top: -100%;left: 0;right: 0;
    width: 100%;
    z-index: 18;
    background-color: $white-lighten;
    @include transition();
    @media screen and (min-width: $screen-md) {
      padding: 0;
    }
    &.fixed {
      top: 0;
    }
  }
}

.help-banner {
  padding: 15px 20px;
  font-family: 'latobold';
  text-align: center;
  background: url('../images/help-banner-back.jpg') no-repeat center center / cover;
  @media screen and (min-width: $screen-md) {
    text-align: left;
  }
  @media screen and (min-width: $screen-lg) {
    text-align: center;
  }
  .danger {
    padding: 7px 15px;
    color: #ffffff;
    font-family: 'latoheavy';
    font-size: 20px;
    border-radius: 0;
    background-color: #e63939;
    @media screen and (min-width: $screen-lg) {
      margin-top: 20px;
    }
  }
}


.search {
  &--body {
    position: absolute;
    top: -14px;bottom: 0;
    right: 46px;
    z-index: 9;
    min-width: 275px;
    @media screen and (min-width: $screen-md) {
      min-width: 300px;
    }
    .btn {
      min-width: inherit;
    }
    .input-group {
      display: table;
      border-collapse: separate;
      background-color: $white-lighten;

      .control {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
      }
    }
    .input-group--btn,
    .input-group .control {
      display: table-cell;
    }
    .input-group--btn {
      width: 1%;
      white-space: nowrap;
      margin-top: 0;
    }
  }
  &--js {
    &.active i {
      &:before {@include sprite(exit);}
    }
  }
}

.relative {
  position: relative;
}


.social {
  margin-bottom: 0;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  img {
    height: 35px;
  }
  @media screen and (min-width: $screen-md) {
    margin-bottom: 20px;
    width: 212px;
  }
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
