//
// Partials -> Main
// ------------------------------------

// Main container
.page-main {
  padding: 30px 0;
}

.page-inner {
  h1 {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 20px;
  }
}

.banner {
  @extend .text--center;
  width: 100%;
  // margin: 30px 0;
}

.aside-item {
  margin-bottom: 15px;
  @media screen and (min-width: $screen-lg) {
    margin-bottom: 30px;
  }
  > div {
    @media screen and (min-width: $screen-md) {
      height: 100%;
    }
    @media screen and (min-width: $screen-lg) {
      height: auto;
    }
  }
}

.owner-page {
  margin-bottom: 20px;
  h3 {
    margin-bottom: 20px;
  }
  &__header {
    position: relative;
    height: 370px;
    &-in {
      position: absolute;
      bottom: 0;left: 0;right: 0;
      padding: 10px;
      color: $white-lighten;
      font-family: 'latoheavy';
      @media screen and (min-width: $screen-md) {
        padding: 20px;
      }
      .time {
        color: $white-lighten;
      }
    }
    &-list {
      margin-top: 20px;
      @extend .card-item__list;
    }
  }
  .social {
    width: 165px;
    margin: 0 0 20px;
  }
  &__title {
    position: relative;
    padding: 25px 0 0;
    margin-top: 20px;
    &::before {
      content: '';
      width: 80px;
      height: 5px;
      display: block;
      background-color: $white-lighten;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__body {
    padding: 10px;
    background-color: $white-lighten;
    @media screen and (min-width: $screen-md) {
      padding: 20px;
    }
    p {
      margin-bottom: 20px;
    }
    h4 {
      margin-bottom: 15px;
    }
    .card-item__desc {
      padding: 25px 0 0;
      &::before {
        left: 0;
      }
    }
  }
  &__footer {
    padding: 10px;
    background-color: $black;
    color: $white-lighten;
    display: flex;
    @extend .middle__xs;
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md) {
      padding: 10px 20px;
    }
    h4 {
      white-space: nowrap;
    }
    .social {
      margin-left: 20px;
      margin-bottom: 0;
    }
  }
  &__date {
    font-size: 18px;
    font-family: 'latoregular';
    @extend .mb30;
  }
}

.comments {
  margin-bottom: 40px;
  &-inner {
    padding: 0 10px;
    background-color: $white-lighten;
    @media screen and (min-width: $screen-md) {
      padding: 0 20px;
    }
  }
  &__footer {
    padding: 10px 0;
    border-top: 1px solid $base-color-main;
    @media screen and (min-width: $screen-md) {
      padding: 20px 0;
    }
    .btn {
      border-width: 2px;
    }
  }
  &__body {
    padding: 10px 0;
    @media screen and (min-width: $screen-md) {
      padding: 20px 0;
    }
  }
  &__item {
    @extend .is-col__lg-11;
    & + & {
      border-top:1px solid #f0f0f0;
    }
  }

  .media {
    padding: 15px 0 0;
    @extend .top__xs;
    &__img {
      width: 65px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px;
      @media screen and (min-width: $screen-md) {
        margin-top: 15px;
        margin-bottom: 0;
      }
    }
    &__body {
      @media screen and (min-width: $screen-md) {
        width: calc(100% - 65px);
      }
    }
    .media {
      @extend .middle__xs;
    }
  }
}

.main-tags {
  margin-left: -5px;
  margin-bottom: 25px;
  &__item {
    @extend .text--uppercase;
    font-family: 'latobold';
    height: 40px;
    margin: 5px 5px;
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
    color: $black;
    border: 2px solid $base-color-main;
  }
}

.opinion {
  margin: 40px 0;
  padding-top: 15px;
  position: relative;
  background: url('../images/trangles.svg') repeat-x top center;
  &-inner {
    padding: 40px 0;
    background: url('../images/resort-back-m.svg') no-repeat center bottom, $white-lighten;
    @media screen and (min-width: $screen-lg) {
      background: url('../images/resort-back.svg') no-repeat center bottom, $white-lighten;
    }
  }
  h1 {
    margin-bottom: 20px;
  }
  &-decor {
    position: absolute;
    top: 0;
    left: 0;right: 0;
    margin: auto;
  }
}

.journal-banner {
  padding: 10px;
  background-color: $white-lighten;
  @media screen and (min-width: $screen-md) {
    padding: 20px;
  }
  &__img {
    display: block;
    position: relative;
    margin-bottom: 20px;
    img {width: 100%;}
  }
  &__date {
    @extend .text--center;
    padding: 15px;
    color: $white-lighten;
    background-color: $base-color-main;
    position: absolute;
    bottom: 0;
    left: 0;right: 0;
  }
}

.signme {
  @extend .text--center;
  padding: 15px 10px;
  margin: 0 0 25px;
  background: url("../images/signup_bg.png") no-repeat center center / cover;
  @media screen and (min-width: $screen-md) {
    padding: 20px;
  }
  @media screen and (min-width: $screen-lg) {
    padding: 50px 20px;
    margin: 30px 0;
  }
  h4 {
    font-family: 'latoregular';
    margin-bottom: 20px;
    margin-top: 10px;
  }

  &--a {
    background: url("../images/signme-a.png") no-repeat center center / cover;
  }
}

.search-block {
  @extend .text--center;
  margin: 30px 0 0;
  h2 {
    margin: 15px 0;
  }
  &__body {
    margin-top: 20px;
    padding: 15px 10px;
    background: url("../images/search_bg.png") no-repeat center center / cover;
    @media screen and (min-width: $screen-md) {
      padding: 35px 0;
    }
  }
}

.tags-list {
  .btn {
    font-size: 24px;
    min-width: inherit;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  &-body {
    margin-bottom: 30px;
    padding: 0 10px;
    background-color: $white-lighten;
    @media screen and (min-width: $screen-md) {
      padding: 0 20px;
    }
  }
  &__item {
    padding: 10px 0;
    @media screen and (min-width: $screen-md) {
      padding: 20px 0;
    }
    & + & {
      border-top: 1px solid #f0f0f0;
    }
    &-num {
      font-size: 36px;
      font-family: 'latoheavy';
      padding: 10px 10px 10px 0;
      background: url('../images/oval.png') no-repeat left center;
    }
  }
}
