//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding: $breadcrumb-padding-vertical 0;
    margin: $line-height-computed 0;
    list-style: none;
    background-color: $breadcrumb-bg;
    font-family: 'latoregular';

    &__link {
      @extend .link--u;
    }

    &__item {
      display: inline-block;
      & + & {
        &:before {
          content: ">";
          padding: 0 5px;
          // @include sprite(crumbs-arr);
          color: $breadcrumb-color;
          // color: #252525;
        }
      }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
    &__link {
      color: $breadcrumb-color;
    }
  }
}
