//
// Modules -> Media
// --------------------------------------------------
@if $use-media == true {
  .media {
    display: flex;
    @extend .middle__xs;
    flex-wrap: wrap;
    margin: 10px 0;
    text-transform: none;
    @media screen and (min-width: $screen-lg) {
      flex-wrap: nowrap;
    }
    &__body {
      overflow: hidden;
    }
    &__head {
      margin-bottom: 15px;
      display: flex;
      flex-wrap: wrap;
      @extend .between__xs;
      @extend .middle__xs;
      a + a,
      b + span {
        margin-left: 20px;
      }
    }
    &__img {
      // float: left;
      align-self: flex-start;
      margin-right: $line-height-computed;
      &--b {
        img {

            width: 125px;
            height: 125px;
            margin-left: auto;
            margin-right: auto;
            // margin-bottom: 15px;
            border-radius: 50%;
            border: 3px solid $base-color-main;
            overflow: hidden;
            @media screen and (min-width: $screen-lg) {
              // margin-bottom: 0;
              // margin-right: $line-height-computed;
            }
        }
      }
    }
  }

  .media__img img,
  .media__img--rev img {
    display: block;
  }

  .media__body,
  .media__body > :last-child {
    margin-bottom: 0;
  }
}
