//
// Modules -> Navs
// --------------------------------------------------


.sub-nav {
  text-align: center;
  li {
    display: block;
    a:hover {
      background: $subnav-link-hover-bg;
    }
  }

  @if $use-adaptive == true {
    @media screen and (min-width: $screen-adaptive-nav) {
      display: none;
      position: absolute;
      background: $gray-darken;
      top: 100%;
      right: 0;
      min-width: 200px;
      li:hover & {
        display: block;
      }
    }
  } @else {
    display: none;
    position: absolute;
    background: $gray-darken;
    top: 100%;
    right: 0;
    min-width: 200px;
    li:hover & {
      display: block;
    }
  }
}

.main-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  font-size: 16px;
  font-family: 'latoregular';
  margin-left: 0;
  @media screen and (min-width: $screen-adaptive-nav) {
    margin-left: -30px;
  }

  &__item {
    position: relative;
    display: block;
    // @if $use-adaptive == true {
    //   display: block;
    //   @media screen and (min-width: $screen-adaptive-nav) {
    //     display: inline-block;
    //   }
    // } @else {
    //   display: inline-block;
    // }
  }
  &__link {
    position: relative;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    color: #474747;
    font-size: 16px;
    @if $use-adaptive == true {
      background-color: transparent;
      // background-color: $base-color-main;
      @media screen and (min-width: $screen-adaptive-nav) {
        background-color: transparent;
        padding: $nav-link-padding;
      }
    } @else {
      background-color: transparent;
    }
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  img {
    max-width: none;
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      cursor: pointer;
      color: $base-color-light;
      text-transform: uppercase;
      display: flex;
      @extend .middle__xs;
      font-family: 'latoheavy';
      // margin-bottom: 15px;

      button {
        padding: 0 5px 0 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      &:focus {
        outline: 0;
      }
      .icon-bar {
        display: block;
        width: 30px;
        height: 2px;
        background-color: $base-color-light;
        border-radius: 1px;
      }
      .icon-bar + .icon-bar {
        margin-top: 4px;
      }
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    &__collapse {
      overflow-x: visible;
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
      @include clearfix;
      -webkit-overflow-scrolling: touch;
      clear: left;
      display: none;

      &.in {
        overflow-y: auto;
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        display: block !important;
        width: auto;
        border-top: 0;
        box-shadow: none;

        &.collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
        }

        &.in {
          overflow-y: visible;
        }
      }
    }
  }
}

.navbar {
  position: relative;
  @include clearfix();
  @media screen and (min-width: $screen-adaptive-nav) {
    &__left {
      float: left;
    }
    &__right {
      float: right;
    }
  }
}
