//
// Pages -> card
// ------------------------------------

.card {
  &-item {
    display: block;
    position: relative;
    margin-bottom: 30px;
    &--videobtn {
      position: absolute;
      top: 0;bottom: 0;
      left: 0;right: 0;
      margin: auto;
      height: 60px;
      text-align: center;
    }
    h4 {
      margin-bottom: 8px;
    }
    &:hover {
      text-decoration: none;
      box-shadow: 0 0 15px rgba($black,0.3);
    }
    &__best {
      position: absolute;
      top: 10px;
      left: 10px;
      color: $white-lighten;
      @media screen and (min-width: $screen-lg) {
        top: 20px;
        left: 20px;
      }
    }
    &__img {
      position: relative;
      height: 250px;
      // img {width: 100%;}
      @media screen and (min-width: $screen-lg) {
      }
    }
    &__views {
      font-family: 'latoheavy';
      color: $white-lighten;
      position: absolute;
      top: 10px;right: 10px;
    }
    &__title {
      height: 70px;
      overflow: hidden;
      font-size: 18px;
      margin-bottom: 15px;
      font-family: 'latoheavy';
    }
    &__subtitle {
      color: $black;
      font-family: 'latobold';
    }
    &__desc {
      height: 140px;
      position: relative;
      color: $black;
      padding: 25px 10px 8px;
      @include transition();
      background-color: $white-lighten;
      @extend .text--uppercase;
      &::before {
        content: '';
        width: 60px;
        height: 3px;
        display: block;
        background-color: $black;
        position: absolute;
        left: 10px;
        top: 17px;
      }
      &--about {
        text-transform: none;
      }
    }
    &__uptitle {
      color: $white-lighten;
      font-family: 'latobold';
      position: absolute;
      left: 10px;
      bottom: 10px;
      @extend .is-col__lg-8;
    }
    &__top {
      height: 250px;
      padding: 10px;
      background-color: $white-lighten;
    }
    &__list {
      display: flex;
      @extend .between__xs;
      @extend .middle__xs;
    }
    &__revviews,
    &__datetime {
      display: flex;
      @extend .middle__xs;
    }
    &__lists {
      & + & {
        margin-top: 30px;
      }
    }
    &__reviews,
    &__time {
      margin-left: 10px;
      @media screen and (min-width: $screen-md) {
        margin-left: 20px;
      }
    }
    &__reviews {
      font-family: 'latoheavy';
    }
    &__ltitle {
      font-size: 18px;
      color: $white-lighten;
      font-family: 'latobold';
    }
    &--best {
      .card-item__desc {
        position: absolute;
        bottom: 0;
        left: 0;right: 0;
        height: auto;
        color: $white-lighten;
        background-color: transparent;
        @media screen and (min-width: $screen-lg) {
          padding: 15px 20px;
        }
        &::before {
          content: '';
          width: 80px;
          height: 5px;
          top: 0;
          box-shadow: 0 1px 2px rgba($black-darken, 0.5);
          background-color: $white-lighten;
          @media screen and (min-width: $screen-lg) {
            left: 20px;
          }
        }
      }
      &:hover .card-item__desc  {
        background-color: $gray;
      }
      .card-item__views {
        position: static;
      }
      .card-item__title {
        height: auto;
      }
      .card-item__img {
        height: 360px;
      }
      .time,
      .date {
        color: $white-lighten;
      }
    }

    &--inter {
      .card-item__desc {
        text-transform: none;
        &::before {
          display: none;
        }
      }
      .card-item__uptitle {
        max-width: inherit;
        width: auto;
      }
    }

    &--theme {
      padding: 20px 20px 30px;
      color: $white-lighten;
      background-color: $gray;
      h3 {
        margin: 25px 0;
      }
    }
    &--about {
      .media {
        margin-top: 60px;
      }
    }

    &__lg {
      .card-item__img {
         height: 450px;
      }
    }

    &__footer {
      padding: 10px;
      color: $black;
      border-top: 1px solid #f0f0f0;
      @extend .hidden__md;
      @extend .hidden__lg;
      background-color: $white-lighten;
      .media {
        margin-top: 0;
        margin-bottom: 0;
        flex-wrap: nowrap;
      }
    }
  }
}

.tag {
  display: inline-block;
  padding: 6px 10px;
  font-family: 'latoheavy';
  border-radius: 3px;
  color: $white-lighten;
  @extend .text--uppercase;
  position: absolute;
  top: 10px;left: 10px;
  &--primary {
    background-color: $base-color-main
  }
  &--secondary {
    background-color: $color-type-6a
  }
  &--info {
    background-color: $color-type-1a
  }
  &--success {
    background-color: $color-type-4a
  }
  &--danger {
    background-color: $color-type-2a
  }
  &--warning {
    background-color: $color-type-3a
  }
  &--pink {
    background-color: $color-type-6b
  }
}
