//
// Pages -> Index
// ------------------------------------

/* Structural */
.priority-menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;

  ul {
    display: flex;
    text-align: center;
    @media screen and (min-width: $screen-md) {
      flex-basis: 100%;
    }


    li, a {
      white-space: nowrap;
      text-align: center;
    }
  }

  .priority {
    overflow: hidden;

    a {
      flex-basis: 100%;
      display: block;
    }
  }

  .overflow {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    box-shadow: 0 0 15px rgba($black,0.3);
    background-color: $white-lighten;
    width: 290px;
    z-index: 9;
    text-align: center;

    @media screen and (min-width: $screen-md) {
      left: auto;
      right: 0;
    }

    a {
      display: block;
    }
    &-trigger {
      cursor: pointer;
      background: none;
      border: none;

      &__lg .text--primary {
        font-size: 25px;
        margin-top: -15px;
      }
    }
  }

  [aria-hidden="true"] {
    display: none;
  }

  [aria-hiiden="false"] {
    display: true;
  }
}

i, span, b {
  vertical-align: middle;
}
i + b,
i + span,
span + i {
  margin-left: 5px;
  @media screen and (min-width: $screen-md) {
    margin-left: 10px;
  }
}

.page-index {
}

.is-col__md {
  @media screen and (min-width: $screen-md) {
    width: auto;
  }
}

.time,
.date {
  color: $gray-light;
  font-family: 'latoregular';
  font-size: 12px;
  text-transform: none;
}

.news-list {
  background-color: $white-lighten;
  padding: 20px 0;
  &--long {
    @media screen and (min-width: $screen-md) {
      height: 100%;
    }
    @media screen and (min-width: $screen-lg) {
      height: auto;
    }
    .news-list__item {
      @extend .is-col__xs-12;
    }
  }
  h3 {
    margin-top: 30px;
    // margin-left: 20px;
    display: inline-block;
    @media screen and (min-width: $screen-lg) {
      display: block;
      margin-left: 0;
    }
  }
  &__item {
    @extend .is-col__xs-12;
    @extend .is-col__md-6;
    @extend .is-col__lg-12;
    & + & {
      // margin-top: 25px;
    }
    .date {
      margin-left: 20px;
    }
    a {
      @extend h4;
      padding: 10px 20px;
      display: block;
      border-left: 2px solid transparent;
      margin-bottom: 5px;
      &.active,
      &:hover {
        color: $white-lighten;
        text-decoration: none;
        border-color: $base-color-main;
        background-color: rgba($base-color-main, 0.5);
      }
    }
  }
  &__title {
    padding: 0 20px;
    margin-bottom: 20px;
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    @extend .bottom__xs;
  }
  &__footer {
    margin-bottom: 25px;
    margin-left: 20px;
    @media screen and (min-width: $screen-lg) {
      margin-bottom: 0;
      margin-top: 15px;
    }
  }
}


.news {
  margin-bottom: 20px;
  background-color: $white-lighten;
  &__item {
    padding: 10px;
    @extend .is-row;
    @media screen and (min-width: $screen-md) {
      padding: 20px;
    }
    &-img {
      margin-bottom: 10px;
      @extend .text--center;
      @extend .text__md--left;
      @extend .is-col;
      @extend .is-col__xs-12;
      @extend .is-col__sm-4;
      @extend .is-col__md-3;
    }
    &-desc {
      @extend .is-col;
      @extend .is-col__xs-12;
      @extend .is-col__sm-8;
    }
    h4 {
      margin: 10px 0;
      a {
        color: $black;
      }
    }
  }
}
