footer.page-footer
  .container
    .is-row.between__xs.middle__xs
      .is-col.is-col__lg-9.is-col__xs-12
        .main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
          button
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
          span меню
        .main-nav__collapse
          +menu(navigationfooter)
      .is-col.is-col__md.flex--left.is-col__xs-12
        .rating
          span Рейтинг врачей #[br.hidden__xs.hidden__sm] и мед. учреждений
          img(src='images/icons/rating.svg', alt='')
    .is-row.middle__xs.mt30
      .is-col.is-col__lg-7.is-col__md-8.is-col__xs-12.last__xs.first__md
        .page-footer__copy= index.footer
      .is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
        .is-row.middle__xs
          ul.social.is-col.is-col__md-12.is-col__xs-6
            li: a(href='#'): img(src='images/icons/fa.svg', alt='')
            li: a(href='#'): img(src='images/icons/vk.svg', alt='')
            li: a(href='#'): img(src='images/icons/odn.svg', alt='')
            li: a(href='#'): img(src='images/icons/twitter.svg', alt='')
          .text--right.hidden__lg.is-col.is-col__md-12.is-col__xs-6
            div Разработка:
            img(src='images/logo-trinet.svg', alt='')
      .is-col.is-col__lg-2.text--right.hidden__md.hidden__sm.hidden__xs
        div Разработка:
        img(src='images/logo-trinet.svg', alt='')
    
