header.page-header
  .banner
    a(href="#"): img(src="images/banner.jpg", alt="")
  .container
    .page-header__top.is-row.middle__xs.between__xs
      .is-col.is-col__lg-9.is-col__md-8.is-col__xs-3
        include ../components/_navbar
      .page-header__in.is-col.is-col__lg-3.is-col__md-4.is-col__xs-9
          ul.list--inline.text--primary
            li: i.is-icons.is-icons--exit
            li: a.popup(href="#form-id") Войти
            li |
            li: a(href="#") регистрация
  .page-header__middle
    .container
      .is-row.between__xs.middle__xs
        .is-col.is-col__lg-6.is-col__md-4.is-col__xs-12
          a.visible__lg(href="/"): img(src='images/logo.png', alt='')
          a.visible__md(href="/"): img(src='images/logo-768.png', alt='')
          a.visible__xs.visible__sm(href="/"): img(src='images/logo-m.png', alt='')
        .is-col.is-col__md-6.is-col__xs-12
          a.btn.btn--outlined(href="#")
            i.is-icons.is-icons--mega
            span НЕТ ХАМСТВУ! РЕЙТИНГ ВРАЧЕЙ #[br] И ЖЕНСКИХ КОНСУЛЬТАЦИЙ
  .container      
    .page-header__bottom.is-row.middle__xs.between__xs.relative
      .is-col.is-col__md-10.is-col__xs-5
        nav.nav
          .priority-menu--js2.priority-menu
            +menu(navigationbot)
            .js-overflow-trigger.overflow-trigger.overflow-trigger__lg(aria-hidden="true")
              .visible__sm.visible__xs
                .main-nav__toggle
                  button
                    span.icon-bar &nbsp;
                    span.icon-bar &nbsp;
                    span.icon-bar &nbsp;
                    span.icon-bar &nbsp;
                  span разделы
              span.hidden__sm.hidden__xs.text--primary ...                  
            nav.overflow(aria-hidden="true", data-behaviour="menu")
      .is-col.relative
        .hide.search--body
          form.input-group
            input.control(type="search", placeholder="Что вы ищете?")
            .input-group--btn
              button.btn.btn--outlined(type="submit"): i.is-icons.is-icons--search
        a.search--js(href="#"): i.is-icons.is-icons--search
  .page-header__bottom.page-header__js.fixed
    .container      
      .is-row.middle__xs.between__xs.relative
        .is-col.is-col__lg-1.is-col__md-2.hidden__sm.hidden__xs
          a(href="#"): img(src="images/fix-logo.svg", alt="")
        .is-col.is-col__xs-8
          nav.nav
            .priority-menu--js3.priority-menu
              +menu(navigationbot)
              .js-overflow-trigger.overflow-trigger.overflow-trigger__lg(aria-hidden="true")
                .visible__sm.visible__xs
                  .main-nav__toggle
                    button
                      span.icon-bar &nbsp;
                      span.icon-bar &nbsp;
                      span.icon-bar &nbsp;
                      span.icon-bar &nbsp;
                    span беременность
                span.hidden__sm.hidden__xs.text--primary ...                  
              nav.overflow(aria-hidden="true", data-behaviour="menu")
        .page-header__in.is-col.is-col__lg-2.is-col__xs-1
            .hidden__lg 
              a.popup(href="#form-id"): i.is-icons.is-icons--exit
            ul.list--inline.text--primary.visible__lg 
              li: i.is-icons.is-icons--exit
              li: a.popup(href="#form-id") Войти
              li |
              li: a(href="#") регистрация
        .is-col.relative.text--right
          .hide.search--body
            form.input-group
              input.control(type="search", placeholder="Что вы ищете?")
              .input-group--btn
                button.btn.btn--outlined(type="submit"): i.is-icons.is-icons--search
          a.search--js(href="#"): i.is-icons.is-icons--search
