$icons: (
	  sprite: (width: 1682px, height: 88px, svgPath: '../images/svg/sprite.svg'),
 	answer: (width: 15px, height: 15px, backgroundX: 0px, backgroundY: 0px),
 	author: (width: 47px, height: 50px, backgroundX: -35px, backgroundY: 0px),
 	bar-chart: (width: 50px, height: 47px, backgroundX: -102px, backgroundY: 0px),
 	book: (width: 53px, height: 50px, backgroundX: -172px, backgroundY: 0px),
 	brain: (width: 37px, height: 40px, backgroundX: -245px, backgroundY: 0px),
 	btn-arr: (width: 17px, height: 10px, backgroundX: -302px, backgroundY: 0px),
 	clock: (width: 17px, height: 17px, backgroundX: -339px, backgroundY: 0px),
 	clock-w: (width: 21px, height: 21px, backgroundX: -376px, backgroundY: 0px),
 	close-w: (width: 40px, height: 40px, backgroundX: -417px, backgroundY: 0px),
 	coffee-cup: (width: 46px, height: 50px, backgroundX: -477px, backgroundY: 0px),
 	comments: (width: 30px, height: 17px, backgroundX: -543px, backgroundY: 0px),
 	crumbs: (width: 6px, height: 10px, backgroundX: -593px, backgroundY: 0px),
 	crumbs-arr: (width: 6px, height: 10px, backgroundX: -619px, backgroundY: 0px),
 	dislike: (width: 15px, height: 15px, backgroundX: -645px, backgroundY: 0px),
 	exit: (width: 20px, height: 17px, backgroundX: -680px, backgroundY: 0px),
 	eye: (width: 28px, height: 20px, backgroundX: -720px, backgroundY: 0px),
 	eye-g: (width: 25px, height: 15px, backgroundX: -768px, backgroundY: 0px),
 	fire: (width: 44px, height: 50px, backgroundX: -813px, backgroundY: 0px),
 	id-card: (width: 30px, height: 45px, backgroundX: -877px, backgroundY: 0px),
 	like: (width: 15px, height: 15px, backgroundX: -927px, backgroundY: 0px),
 	mega: (width: 29px, height: 29px, backgroundX: -962px, backgroundY: 0px),
 	megaphone: (width: 52px, height: 50px, backgroundX: -1011px, backgroundY: 0px),
 	news: (width: 49px, height: 51px, backgroundX: -1083px, backgroundY: 0px),
 	play: (width: 68px, height: 68px, backgroundX: -1152px, backgroundY: 0px),
 	reviews: (width: 22px, height: 21px, backgroundX: -1240px, backgroundY: 0px),
 	reviews-w: (width: 22px, height: 21px, backgroundX: -1282px, backgroundY: 0px),
 	search: (width: 21px, height: 21px, backgroundX: -1324px, backgroundY: 0px),
 	search-block: (width: 60px, height: 62px, backgroundX: -1365px, backgroundY: 0px),
 	share: (width: 18px, height: 20px, backgroundX: -1445px, backgroundY: 0px),
 	share-icon: (width: 18px, height: 20px, backgroundX: -1483px, backgroundY: 0px),
 	tests: (width: 47px, height: 45px, backgroundX: -1521px, backgroundY: 0px),
 	views: (width: 29px, height: 19px, backgroundX: -1588px, backgroundY: 0px),
 	views-g: (width: 25px, height: 15px, backgroundX: -1637px, backgroundY: 0px),
);
