main.page-inner
  .container
    include ../components/_breadcrumbs
    .is-row
      aside.is-col.is-col__lg-3.is-col__xs-12.last__xs
        .aside-item
          include ../components/_journal-banner
        .aside-item.visible__lg
          include ../components/_signme-a
      section.is-col.is-col__lg-9.is-col__xs-12
        .media
          .media__img.is-col__md-2.is-col__xs-12.media__img--b: img(src="images/author-a.png" alt="")
          .media__body.is-col__lg-10.is-col__md-9.is-col__xs-12
              h4 Мария Будылина
              p.text--grey Блогер
              p Проект «Аист на крыше» – это люди, верящие в будущее России и знающие, что нужно сделать для того, чтобы мы не исчезли совсем. Среди нас есть экономисты и врачи, политики, психологи и педагоги. Мы рады всем, кто, так же как и мы, любит жизнь! 
        +card-best(goodsBesta)
        include ../components/_adaptive-banner
        +card(goodsauthor)
  section
    .container
      .text--center.mb50  
        a.btn.btn--primary.show--js(href='#')
          i.is-icons.is-icons--eye
          span Смотреть еще
      .hide 
        +card(goodsThird)
  section
    include ../components/_search-block
