main.page-inner
  .container
    include ../components/_breadcrumbs
    .is-row
      aside.is-col.is-col__lg-3.is-col__xs-12
        .is-row.sctretch__xs
          .is-col.is-col__lg-12.is-col__md-6.is-col__xs-12
            .news-list.news-list--long.aside-item
              .news-list__title
                i.is-icons.is-icons--fire
                h3 Важные темы
              .news-list__body
                .news-list__item
                  a.active(href='#') Рождение ребенка
                .news-list__item
                  a(href='#') I Триместр
                .news-list__item
                  a(href='#') II Триместр
                .news-list__item
                  a(href='#') III Триместр
          .is-col.is-col__lg-12.is-col__md-6.is-col__xs-12
            .news-list.news-list--long.aside-item
              .news-list__title
                i.is-icons.is-icons--book
                h3 Что еще посмотреть:
              .news-list__body
                .news-list__item
                  a(href='#') Статистика абортов #[br] за 2017 год
                .news-list__item
                  a(href='#') Рейтинг клиник
                .news-list__item
                  a(href='#') Рейтинг врачей
        .aside-item.visible__lg
          include ../components/_journal-banner
        .aside-item.visible__lg
          img(src='images/banner-aside.jpg', alt='')
        .aside-item.visible__lg
          include ../components/_signme-a
      section.is-col.is-col__lg-9.is-col__xs-12
        h1= title
        p Проект «Аист на крыше» – это люди, верящие в будущее России и знающие, что нужно сделать для того, чтобы мы не исчезли совсем. Среди нас есть экономисты и врачи, политики, психологи и педагоги. Мы рады всем, кто, так же как и мы, любит жизнь!  #[br] Мы верим, что профессиональные и сплочённые усилия обязательно дадут результат! Читайте наш "Меморандум". Проект «Аист на крыше» – это люди, верящие в будущее России и знающие, что нужно сделать для того, чтобы мы не исчезли совсем. 
        +card(goodsPreg)  
        include ../components/_adaptive-banner
        +card(goodsPreg)  
    section      
      .text--center
        a.btn.btn--primary.show--js(href='#')
          i.is-icons.is-icons--eye
          span Смотреть еще
      .hide 
        +card(goodsPrega) 
        include ../components/_signme
  include ../components/_search-block
  .banner.my30
    img(src='images/banner-place.jpg', alt='')
