main.page-main
  .container
    .is-row
      aside.is-col.is-col__lg-3.is-col__xs-12
        .aside-item
          .help-banner
            .is-row.middle__xs
              .is-col.is-col__lg-12.is-col__md-7.is-col__xs-12: .text--uppercase.text__md Помощь беременным женщинам и мамам в сложной жизненной ситуации
              .is-col.is-col__lg-12.is-col__md-5.is-col__xs-12: a.btn.btn--full.danger(href='tel:88008888888') 8-800-888-88-88
        .news-list.aside-item
          .news-list__title
            i.is-icons.is-icons--news
            h3 Новости
          .news-list__body
            - for (var x = 1; x < 6; x++)
              .news-list__item
                .date 12.09.2017
                a(href='#') Бесплодие фитнесом не лечат
            .news-list__footer
              a.btn.btn--link(href='#') 
                span Все новости
                i.is-icons.is-icons--btn-arr
        .aside-item.visible__lg
          include ../components/_journal-banner
        .aside-item.visible__lg
          img(src='images/banner-aside.jpg', alt='')
      section.is-col.is-col__lg-9.is-col__xs-12
        +card-best(goodsBest)
        include ../components/_adaptive-banner
        +card(goodsSec)
    section
      include ../components/_signme
      +card(goodsThird) 
      .text--center
        a.btn.btn--primary.show--js(href='#')
          i.is-icons.is-icons--eye
          span Смотреть еще
      .hide 
        +card(goodsThird) 
  section.opinion
    .opinion-inner
      .container
        .is-row
          .is-col.is-col__lg-8.is-col__xs-12
            .text--center.text__md--left
              h1.text--uppercase Обращение к посетителям нашего портала
            .is-row.middle__xs
              .is-col.is-col__lg-3.is-col__md-4.is-col__xs-12.text--center
                img(src='images/author.png', alt='')
              .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
                span Проект «Аист на крыше» – это люди, верящие в будущее России и знающие, что нужно сделать для того, чтобы мы не исчезли совсем. Среди нас есть экономисты и врачи, политики, психологи и педагоги. Мы рады всем, кто, так же как и мы, любит жизнь! #[br] Мы верим, что профессиональные и сплочённые усилия обязательно дадут результат! Читайте наш #[a(href='#') "Меморандум"].
          .is-col.is-col__lg-4.is-col__xs-12
            blockquote.blockquote
              .blockquote-body
                p Человеку свойственно любить жизнь. #[br] И потому мы всегда будем против того, что мешает жизни: болезней, насилия, абортов и страха ответственности.
              .blockquote-footer
                h4 Анжелика Худолеева
                span.text--grey руководитель проекта
  include ../components/_search-block
  .banner.my30
    img(src='images/banner-place.jpg', alt='')
