main.page-inner
  .container
    include ../components/_breadcrumbs
    .is-row
      aside.is-col.is-col__lg-3.is-col__xs-12.last__xs.visible__lg
        .aside-item
          include ../components/_journal-banner
        .aside-item
          include ../components/_signme-a
        .aside-item
          img(src='images/banner-aside.jpg', alt='')
      section.is-col.is-col__lg-9.is-col__xs-12.owner-page
        .owner-page__header(style='background: url("images/main-img-inter.jpg") no-repeat center center / cover')
          .owner-page__header-in
            .owner-page__icon
              i.is-icons.is-icons--bar-chart
              span Опрос
            .owner-page__title
              h3=title
              .owner-page__header-list
                .time
                  i.is-icons.is-icons--clock-w
                  span 7 минут
                .card-item__revviews
                  .card-item__reviews
                    i.is-icons.is-icons--views
                    span 250
                  .card-item__reviews
                    i.is-icons.is-icons--reviews-w
                    span (14)
        .owner-page__body
          .is-row
            .is-col.is-col__md-4.is-col__xs-12
              h4
                i.is-icons.is-icons--share-icon
                span Поделиться:
              ul.social
                li: a(href='#'): img(src='images/icons/fa.svg', alt='')
                li: a(href='#'): img(src='images/icons/vk.svg', alt='')
                li: a(href='#'): img(src='images/icons/odn.svg', alt='')
                li: a(href='#'): img(src='images/icons/twitter.svg', alt='')
            .is-col.is-col__md-8.is-col__xs-12
              form(action="#" method="method")
                h4 1. Скажите, про какие темы нам стоит больше писать материалов?
                .form__group
                  .radio
                    input.control(type='radio', name='radio', id='radio1')
                    label(for='radio1') Статьи на тему «Беременность и роды»
                  .radio
                    input.control(type='radio', name='radio', id='radio2')
                    label(for='radio2') Статьи на тему «Детство»
                  .radio
                    input.control(type='radio', name='radio', id='radio3')
                    label(for='radio3') Статьи на тему «Воспитание»
                  .radio
                    input.control(type='radio', name='radio', id='radio4')
                    label(for='radio4') Советы родителям
                  .radio
                    input.control(type='radio', name='radio', id='radio5')
                    label(for='radio5') Личный опыт
                  .radio
                    input.control(type='radio', name='radio', id='radio6')
                    label(for='radio6') За рубежом
                  .radio
                    input.control(type='radio', name='radio', id='radio7')
                    label(for='radio7') Советы юриста
                  .radio
                    input.control(type='radio', name='radio', id='radio8')
                    label(for='radio8') Тесты
                .form__group
                  button.btn.btn--primary(type="submit") Отправить ответы
        .owner-page__footer
          h4
            i.is-icons.is-icons--share
            span Поделиться:
          ul.social
            li: a(href='#'): img(src='images/icons/fa.svg', alt='')
            li: a(href='#'): img(src='images/icons/vk.svg', alt='')
            li: a(href='#'): img(src='images/icons/odn.svg', alt='')
            li: a(href='#'): img(src='images/icons/twitter.svg', alt='')
        include ../components/_adaptive-banner
        include ../components/_comments
        h3 Другие опросы
        +card(goodsinter)
        .text--center.mb20
          a.btn.btn--primary.show--js(href='#')
            i.is-icons.is-icons--eye
            span Смотреть еще
        .hide 
          +card(goodsinter)
        .hidden__lg
          include ../components/_signme
