main.page-inner
  .container
    include ../components/_breadcrumbs
    .is-row
      aside.is-col.is-col__lg-3.is-col__xs-12.last__xs.visible__lg
        .aside-item
          include ../components/_journal-banner
        .aside-item
          include ../components/_signme-a
        .aside-item
          img(src='images/banner-aside.jpg', alt='')
      section.is-col.is-col__lg-9.is-col__xs-12.owner-page
        .owner-page__header(style='background: url("images/main-img-mat.jpg") no-repeat center center / cover')
          .owner-page__header-in
            .owner-page__icon
              tag.tag-success Семья
            .owner-page__title
              h3=title
              .owner-page__header-list
                .time
                  i.is-icons.is-icons--clock-w
                  span 7 минут
                .card-item__revviews
                  .card-item__reviews
                    i.is-icons.is-icons--views
                    span 250
                  .card-item__reviews
                    i.is-icons.is-icons--reviews-w
                    span (14)
        .owner-page__body
          .is-row
            .is-col.is-col__md-4.is-col__xs-12
              h4 10.09.2017
              h3 Интервью подготовила
              .media
                .media__img: img(src="images/avab.svg" alt="")
                .media__body
                    //- p: i.is-icons.is-icons--id-card
              .card-item__desc.card-item__desc--about
                h4 Мария Будылина
                p.text--grey Руководитель проекта «Помощь уставшим мамам», психолог
              h4 Тэги по теме:
              .main-tags
                a.main-tags__item(href='#') Психология
                a.main-tags__item(href='#') Семья
                a.main-tags__item(href='#') воспитание
              h4
                i.is-icons.is-icons--share-icon
                span Поделиться:
              ul.social
                li: a(href='#'): img(src='images/icons/fa.svg', alt='')
                li: a(href='#'): img(src='images/icons/vk.svg', alt='')
                li: a(href='#'): img(src='images/icons/odn.svg', alt='')
                li: a(href='#'): img(src='images/icons/twitter.svg', alt='')
            .is-col.is-col__md-8.is-col__xs-12
              h4 Вот тебе, бабушка, и явление!
              p Готовясь писать эти заметки, я на протяжении нынешнего августа провел небольшой эксперимент. Всех, с кем встречался или разговаривал по телефону, расспрашивал, как часто в детстве они гостили у бабушек и дедушек и как часто сами привозили своих маленьких ребятишек к родителям, а главное, какие при этом складывались отношения у стариков с их взрослыми детьми, невестками и зятьями.
              p И вот что у меня в итоге получилось. Среди тех, у кого в детстве бабушка с дедушкой были живы и проживали в том же городе, каждую неделю гостили у стариков 32 моих собеседника из 35. И своих собственных малышей так же часто подбрасывали (или сегодня подбрасывают) бабушке с дедушкой 34 из 38. Другими словами, от одного поколения к другому ничего не изменилось.
              p Конечно, мне могут возразить: опрос этот ненаучен и, соответственно, выводы сомнительны. Согласен, выборка респондентов маловата, не учитывает их доходов, образования и наличия работы, а также возраста бабушек-дедушек. Но насчет выводов, смею надеяться, все верно: сегодня в мегаполисах малышня гостит у бабушки с дедушкой не реже, чем их родители, когда те сами были маленькими. Если не верите, проведите такой же эксперимент, и, не сомневаюсь, вы получите примерно такие же показатели.
              img(src='images/image-1.jpg', alt='')
              blockquote.blockqoute-mini 
                .blockquote-mini-body Если не верите, проведите такой же эксперимент, и, не сомневаюсь, вы получите примерно такие же показатели.
              p Но речь не о них, а о тех, кто еще в понедельник звонит детям: «Ну что, когда вы привезете ребенка, в пятницу вечером или в субботу утром? …Да? Вот и отлично – привозите в четверг! Мы ждем!».
        .owner-page__footer
          h4
            i.is-icons.is-icons--share
            span Поделиться:
          ul.social
            li: a(href='#'): img(src='images/icons/fa.svg', alt='')
            li: a(href='#'): img(src='images/icons/vk.svg', alt='')
            li: a(href='#'): img(src='images/icons/odn.svg', alt='')
            li: a(href='#'): img(src='images/icons/twitter.svg', alt='')
        include ../components/_adaptive-banner
        include ../components/_comments
        h3 МАТЕРИАЛЫ ПО ТЕМЕ
        +card(goodsmat)
    section
      .text--center.mb20
        a.btn.btn--primary.show--js(href='#')
          i.is-icons.is-icons--eye
          span Смотреть еще
      .hide 
        +card(goodsThird)
      .hidden__lg
        include ../components/_signme
