main.page-inner
  .container
    include ../components/_breadcrumbs
    .is-row
      aside.is-col.is-col__lg-3.is-col__xs-12.last__xs.visible__lg
        .aside-item
          include ../components/_journal-banner
        .aside-item
          include ../components/_signme-a
        .aside-item
          img(src='images/banner-aside.jpg', alt='')
      section.is-col.is-col__lg-9.is-col__xs-12
        h1= title
        .news
          - for (var x = 1; x < 9; x++)
            .news__item
              .news__item-img
                a(href='#'): img(src='images/news-'+x+'.jpg', alt='')
              .news__item-desc
                .date 12.09.2017
                h4: a(href='#') Бесплодие фитнесом не лечат
                p Считается, что фитнес несколько десятилетий назад выдумали американцы, озабоченные нарастающим ожирением нации. С тех пор все цивилизованные…
                ul.text--right.list--inline
                  li.card-item__reviews  
                    i.is-icons.is-icons--views-g
                    span.text--grey 245
                  li.card-item__reviews: a(href='#')
                    i.is-icons.is-icons--reviews
                    span (14)
          .text--center.pb20
            a.btn.btn--primary.show--js(href='#')
              i.is-icons.is-icons--eye
              span Смотреть еще
          .hide 
            - for (var x = 1; x < 9; x++)
              .news__item
                .news__item-img
                  a(href='#'): img(src='images/news-'+x+'.jpg', alt='')
                .news__item-desc
                  .date 12.09.2017
                  h4: a(href='#') Бесплодие фитнесом не лечат
                  p Считается, что фитнес несколько десятилетий назад выдумали американцы, озабоченные нарастающим ожирением нации. С тех пор все цивилизованные…
                  ul.text--right.list--inline
                    li.card-item__reviews  
                      i.is-icons.is-icons--views-g
                      span.text--grey 245
                    li.card-item__reviews: a(href='#')
                      i.is-icons.is-icons--reviews
                      span (14)
        include ../components/_adaptive-banner
        .hidden__lg
          include ../components/_signme
  include ../components/_search-block
