main.page-inner
  .container
    include ../components/_breadcrumbs
    .is-row
      aside.is-col.is-col__lg-3.is-col__xs-12.last__xs.visible__lg
        .aside-item
          include ../components/_signme-a
        .aside-item
          img(src='images/banner-aside.jpg', alt='')
      section.is-col.is-col__lg-9.is-col__xs-12
        h1= title
        p Проект «Аист на крыше» – это люди, верящие в будущее России и знающие, что нужно сделать для того, чтобы мы не исчезли совсем. Среди нас есть экономисты и врачи, политики, психологи и педагоги. Мы рады всем, кто, так же как и мы, любит жизнь! #[br] Мы верим, что профессиональные и сплочённые усилия обязательно дадут результат! Читайте наш "Меморандум". Проект «Аист на крыше» – это люди, верящие в будущее России и знающие, что нужно сделать для того, чтобы мы не исчезли совсем. 
        .tags-list
          ul.list--inline.my30
            li: a.btn.btn--success(href='#') А
            li: a.btn.btn--success(href='#') Б
            li: a.btn.btn--success(href='#') В
            li: a.btn.btn--success(href='#') Г
            li: a.btn.btn--success(href='#') Д
            li: a.btn.btn--success(href='#') Е
            li: a.btn.btn--success(href='#') Ж
            li: a.btn.btn--success(href='#') 3
            li: a.btn.btn--success(href='#') И
            li: a.btn.btn--success(href='#') К
            li: a.btn.btn--success(href='#') Л
            li: a.btn.btn--success(href='#') М
            li: a.btn.btn--success(href='#') Н
            li: a.btn.btn--success(href='#') О
            li: a.btn.btn--success(href='#') П
            li: a.btn.btn--success(href='#') Р
            li: a.btn.btn--success(href='#') С
            li: a.btn.btn--success(href='#') Т
            li: a.btn.btn--success(href='#') У
            li: a.btn.btn--success(href='#') Ф
            li: a.btn.btn--success(href='#') Х
            li: a.btn.btn--success(href='#') Ц
            li: a.btn.btn--success(href='#') Ч
            li: a.btn.btn--success(href='#') Ш
            li: a.btn.btn--success(href='#') Щ
            li: a.btn.btn--success(href='#') Э
            li: a.btn.btn--success(href='#') Ю
            li: a.btn.btn--success(href='#') Я
          .tags-list-body
          .tags-list__item
            .tags-list__item-num A          
            .tags-list__item-desc 
              .main-tags
                - for (var x = 1; x < 4; x++)
                  a.main-tags__item(href='#') Психология
                  a.main-tags__item(href='#') Семья
                  a.main-tags__item(href='#') воспитание          
                  a.main-tags__item(href='#') Здоровье          
                  a.main-tags__item(href='#') Образование          
                  a.main-tags__item(href='#') воспитание          
                  a.main-tags__item(href='#') Здоровье          
          .tags-list__item
            .tags-list__item-num Б       
            .tags-list__item-desc 
              .main-tags
                - for (var x = 1; x < 4; x++)
                  a.main-tags__item(href='#') Психология
                  a.main-tags__item(href='#') Семья
                  a.main-tags__item(href='#') воспитание          
                  a.main-tags__item(href='#') Здоровье          
                  a.main-tags__item(href='#') Образование          
                  a.main-tags__item(href='#') воспитание          
                  a.main-tags__item(href='#') Здоровье          
          .tags-list__item
            .tags-list__item-num В      
            .tags-list__item-desc 
              .main-tags
                - for (var x = 1; x < 4; x++)
                  a.main-tags__item(href='#') Психология
                  a.main-tags__item(href='#') Семья
                  a.main-tags__item(href='#') воспитание          
                  a.main-tags__item(href='#') Здоровье          
                  a.main-tags__item(href='#') Образование          
                  a.main-tags__item(href='#') воспитание          
                  a.main-tags__item(href='#') Здоровье 
        include ../components/_adaptive-banner
