main.page-inner
  .container
    include ../components/_breadcrumbs
    section
      h1 Поиск по тэгу “#[span.text--primary Дети]”
      .is-col__lg-10
        p Проект «Аист на крыше» – это люди, верящие в будущее России и знающие, что нужно сделать для того, чтобы мы не исчезли совсем. Среди нас есть экономисты и врачи, политики, психологи и педагоги. Мы рады всем, кто, так же как и мы, любит жизнь! #[br] Мы верим, что профессиональные и сплочённые усилия обязательно дадут результат! Читайте наш "Меморандум". Проект «Аист на крыше» – это люди, верящие в будущее России и знающие, что нужно сделать для того, чтобы мы не исчезли совсем. 
      +card(goodsThird)
      +card(goodsTags)
      .text--center.mb30  
        a.btn.btn--primary.show--js(href='#')
          i.is-icons.is-icons--eye
          span Смотреть еще
      .hide 
        +card(goodsThird)
  section
    include ../components/_search-block
