main.page-inner
  .container
    include ../components/_breadcrumbs
    .is-row
      aside.is-col.is-col__lg-3.is-col__xs-12.last__xs.visible__lg
        .aside-item
          include ../components/_journal-banner
        .aside-item
          include ../components/_signme-a
        .aside-item
          img(src='images/banner-aside.jpg', alt='')
      section.is-col.is-col__lg-9.is-col__xs-12.owner-page
        .owner-page__header(style='background: url("images/main-img-test.jpg") no-repeat center center / cover')
          .owner-page__header-in
            .owner-page__icon
              i.is-icons.is-icons--tests
              span Тесты
            .owner-page__title
              h3=title
              .owner-page__header-list
                .time
                  i.is-icons.is-icons--clock-w
                  span 7 минут
                .card-item__revviews
                  .card-item__reviews
                    i.is-icons.is-icons--views
                    span 250
                  .card-item__reviews
                    i.is-icons.is-icons--reviews-w
                    span (14)
        .owner-page__body
          .is-row
            .is-col.is-col__md-4.is-col__xs-12
              h4 Тэги по теме:
              .main-tags
                a.main-tags__item(href='#') Психология
                a.main-tags__item(href='#') Семья
                a.main-tags__item(href='#') воспитание
              h4
                i.is-icons.is-icons--share-icon
                span Поделиться:
              ul.social
                li: a(href='#'): img(src='images/icons/fa.svg', alt='')
                li: a(href='#'): img(src='images/icons/vk.svg', alt='')
                li: a(href='#'): img(src='images/icons/odn.svg', alt='')
                li: a(href='#'): img(src='images/icons/twitter.svg', alt='')
            .is-col.is-col__md-8.is-col__xs-12
              p Проект «Аист на крыше» – это люди, верящие в будущее России и знающие, что нужно сделать для того, чтобы мы не исчезли совсем. Среди нас есть экономисты и врачи, политики, психологи и педагоги. Мы рады всем, кто, так же как и мы, любит жизнь! #[br] Мы верим, что профессиональные и сплочённые усилия обязательно дадут результат! Читайте наш "Меморандум". Проект «Аист на крыше» – это люди, верящие в будущее России и знающие, что нужно сделать для того, чтобы мы не исчезли совсем. 
              img(src='images/rectangle.jpg', alt='')
        .owner-page__footer
          h4
            i.is-icons.is-icons--share
            span Поделиться:
          ul.social
            li: a(href='#'): img(src='images/icons/fa.svg', alt='')
            li: a(href='#'): img(src='images/icons/vk.svg', alt='')
            li: a(href='#'): img(src='images/icons/odn.svg', alt='')
            li: a(href='#'): img(src='images/icons/twitter.svg', alt='')
        include ../components/_adaptive-banner
        include ../components/_comments
        h3 Пройти другие тесты
        +card(goodstests)
        .text--center.mb20
          a.btn.btn--primary.show--js(href='#')
            i.is-icons.is-icons--eye
            span Смотреть еще
        .hide 
          +card(goodstests)
        .hidden__lg
          include ../components/_signme
