main.page-inner
  .container
    include ../components/_breadcrumbs
    .is-row
      aside.is-col.is-col__lg-3.is-col__xs-12.last__xs.visible__lg
        .aside-item
          include ../components/_journal-banner
        .aside-item
          include ../components/_signme-a
        .aside-item
          img(src='images/banner-aside.jpg', alt='')
      section.is-col.is-col__lg-9.is-col__xs-12
        h1= title
        .mb30 Проект «Аист на крыше» – это люди, верящие в будущее России и знающие, что нужно сделать для того, чтобы мы не исчезли совсем. Среди нас есть экономисты и врачи, политики, психологи и педагоги. Мы рады всем, кто, так же как и мы, любит жизнь! #[br] Мы верим, что профессиональные и сплочённые усилия обязательно дадут результат! Читайте наш "Меморандум". Проект «Аист на крыше» – это люди, верящие в будущее России и знающие, что нужно сделать для того, чтобы мы не исчезли совсем. 
        include ../components/_adaptive-banner
        +card(goodstests)
        .text--center.mb20
          a.btn.btn--primary.show--js(href='#')
            i.is-icons.is-icons--eye
            span Смотреть еще
        .hide 
          +card(goodstests)
        .hidden__lg
          include ../components/_signme
