//- mixins


//- menu
mixin menu(items)
    ul.main-nav.priority
        each item in items
            - var parent  = ''
            - if(item.subitems !== false) parent='main-nav__item--parent'
            li.main-nav__item(class=parent)
                a.main-nav__link(href=item.href, title=item.title)= item.title
                - if(item.subitems !== false)
                    ul.sub-nav
                        each subitem in item.subitems
                            li.main-nav__item
                                a.main-nav__link(href=subitem.href, title=subitem.title)= subitem.title
                                
mixin card-best(items)
  .card.is-row
    each item in items
      .is-col(class=item.class)
        a.card-item.card-item--best(href='#' class=item.subclass)
          .card-item__img(style='background: url('+item.img+') no-repeat center center / cover')
            - if(item.best == true)
              .card-item__best
                i.is-icons.is-icons--megaphone
                span= item.besttxt   
            //- img(src=item.img, alt='')
          .card-item__desc
            .card-item__title= item.title
            .card-item__list
              .card-item__datetime
                .card-item__date.date 10.09.2017
                - if(item.time == true)
                  .card-item__time.time
                    i.is-icons.is-icons--clock-w
                    span 7 минут
              .card-item__revviews
                .card-item__views
                  i.is-icons.is-icons--views
                  span= item.views
                .card-item__reviews
                  i.is-icons.is-icons--reviews-w
                  span (14)


mixin card(items)
  .card.is-row
    each item in items
      .is-col(class=item.class)        
        - if(item.type == 'simple')
          a.card-item(href='#')
            .card-item__img(style='background: url('+item.img+') no-repeat center center / cover')
              .tag(class=item.tagClass)= item.tag
              .card-item__views
                i.is-icons.is-icons--views
                span= item.views
              //- img(src=item.img, alt='')
            .card-item__desc
              .card-item__title= item.title
              .card-item__list
                .card-item__datetime
                  .card-item__date.date 10.09.2017
                  - if(item.time == true)
                    .card-item__time.time
                      i.is-icons.is-icons--clock
                      span 7 минут
                - if(item.reviews == true)
                  .card-item__reviews
                    i.is-icons.is-icons--reviews
                    span.text--primary (14)
            .card-item__footer
             .media
               .media__img: img(src="images/avacom-1.png" alt="")
               .media__body
                 p На самом деле все гораздо сложнее и… печальнее.
        - if(item.type == 'video')
          a.card-item(href='#')
            .card-item__img(style='background: url('+item.img+') no-repeat center center / cover')
              - if(item.play == true)
                .card-item--videobtn
                  i.is-icons.is-icons--play
              .tag(class=item.tagClass)= item.tag
              .card-item__views
                i.is-icons.is-icons--views
                span= item.views
              .card-item__uptitle
                span Блог:
                h4= item.title
              //- img(src=item.img, alt='')
            .card-item__desc
              .card-item__user
                .media
                  .media__img: img(src="images/ava.svg" alt="")
                  .media__body
                      h6 Мария Будылина
                      span.text--grey Блогер
              .card-item__list
                .card-item__datetime
                  .card-item__date.date 10.09.2017
                  - if(item.time == true)
                    .card-item__time.time
                      i.is-icons.is-icons--clock
                      span 7 минут
                - if(item.reviews == true)
                  .card-item__reviews
                    i.is-icons.is-icons--reviews
                    span.text--primary (14)
            .card-item__footer
             .media
               .media__img: img(src="images/avacom-1.png" alt="")
               .media__body
                 p На самом деле все гораздо сложнее и… печальнее.
        - if(item.type == 'blog')
          a.card-item(href='#')
            .card-item__img(style='background: url('+item.img+') no-repeat center center / cover')
              .tag(class=item.tagClass)= item.tag
              .card-item__views
                i.is-icons.is-icons--views
                span= item.views
              .card-item__uptitle
                span Блог:
                h4= item.title
            .card-item__desc
              .card-item__user
                .media
                  .media__img: img(src="images/multi-image.png" alt="")
                  .media__body
                      h6 Мария Будылина, Ирина Иванова, Наталья Егорова, Софья Васильева
              .card-item__list
                .card-item__datetime
                  .card-item__date.date 10.09.2017
                  - if(item.time == true)
                    .card-item__time.time
                      i.is-icons.is-icons--clock
                      span 7 минут
                - if(item.reviews == true)
                  .card-item__reviews
                    i.is-icons.is-icons--reviews
                    span.text--primary (14)
            .card-item__footer
             .media
               .media__img: img(src="images/avacom-1.png" alt="")
               .media__body
                 p На самом деле все гораздо сложнее и… печальнее.
        - if(item.type == 'interview')
          a.card-item.card-item--inter(href='#')
            .card-item__img(style='background: url('+item.img+') no-repeat center center / cover')              
              .card-item__views
                i.is-icons.is-icons--views
                span= item.views
              .card-item__uptitle
                .mb20
                  i.is-icons.is-icons--bar-chart
                  span Опросы
                h4= item.title
            .card-item__desc
              p Мы верим, что профессиональные и сплочённые усилия обязательно дадут результат! 
              .card-item__list
                .card-item__datetime
                  - if(item.time == true)
                    .time
                      i.is-icons.is-icons--clock
                      span 7 минут
                - if(item.reviews == true)
                  .card-item__reviews
                    i.is-icons.is-icons--reviews
                    span.text--primary (14)
            .card-item__footer
             .media
               .media__img: img(src="images/avacom-1.png" alt="")
               .media__body
                 p На самом деле все гораздо сложнее и… печальнее.
        - if(item.type == 'test')
          a.card-item.card-item--inter(href='#')
            .card-item__img(style='background: url('+item.img+') no-repeat center center / cover')
              .tag(class=item.tagClass)= item.tag
              .card-item__views
                i.is-icons.is-icons--views
                span= item.views
              .card-item__uptitle
                .mb20
                  i.is-icons.is-icons--tests
                  span Тесты
                h4= item.title
            .card-item__desc
              p Мы верим, что профессиональные и сплочённые усилия обязательно дадут результат! 
              .card-item__list
                .card-item__datetime
                  - if(item.time == true)
                    .time
                      i.is-icons.is-icons--clock
                      span 7 минут
                - if(item.reviews == true)
                  .card-item__reviews
                    i.is-icons.is-icons--reviews
                    span.text--primary (14)
            .card-item__footer
             .media
               .media__img: img(src="images/avacom-1.png" alt="")
               .media__body
                 p На самом деле все гораздо сложнее и… печальнее.
        - if(item.type == 'about')
          a.card-item.card-item--about(href='#')
            .card-item__top
              .tag(class=item.tagClass)= item.tag
              .card-item__views
                i.is-icons.is-icons--views-g
                span.text--grey= item.views
              .media
                .media__img: img(src="images/avab.svg" alt="")
                .media__body
                    //- p: i.is-icons.is-icons--brain
                    i.text--grey Мнение эксперта
              .card-item__subtitle
                span= item.title
            .card-item__desc.card-item__desc--about
              h4 Мария Будылина
              p.text--grey Руководитель проекта «Помощь уставшим мамам», психолог
              .card-item__list
                .card-item__datetime
                  .card-item__date.date 10.09.2017
                  - if(item.time == true)
                    .card-item__time.time
                      i.is-icons.is-icons--clock
                      span 7 минут
                - if(item.reviews == true)
                  .card-item__reviews
                    i.is-icons.is-icons--reviews
                    span.text--primary (14)      
            .card-item__footer
             .media
               .media__img: img(src="images/avacom-1.png" alt="")
               .media__body
                 p На самом деле все гораздо сложнее и… печальнее.  
        - if(item.type == 'theme')
          a.card-item.card-item--theme(href='#')
            .card-item__inner
              i.is-icons.is-icons--coffee-cup
              h3 Актуальные темы
              .card-item__lists
                .card-item__ltitle Запрет бэби-боксов
                .time
                  i.is-icons.is-icons--clock
                  span 7 минут
              .card-item__lists
                .card-item__ltitle Пропить маткапитал
                .time
                  i.is-icons.is-icons--clock
                  span 7 минут
              .card-item__lists
                .card-item__ltitle Принудительный аборт для либерала
                .time
                  i.is-icons.is-icons--clock
                  span 7 минут
                  

//- form-input
mixin fieldInput(type, name, id, label, placeholder, data, required)
    label(for=id)= label
    input.control(type=type, name=name, id=id, placeholder=placeholder, data-label=data, required=required)

//- form-textarea
mixin fieldTextarea(name, id, label, placeholder, rows, data, required)
    label(for=id)= label
    textarea.control(name=name, id=id, placeholder=placeholder, rows=rows,  data-label=data, required=required)

//- form-checkbox
mixin fieldCheckbox(name, id, checked)
    .checkbox
        input(type="checkbox", id=id, checked=checked)
        label(for=id)=name

//- form-radio
mixin fieldRadio(name, id, label, checked)
    .radio
        input(type="radio", id=id, value=id, name=label, checked=checked)
        label(for=id)=name


//- maps-iframe
- var map = 'iframe src="putMapURLhere" width="100%" height="400" frameborder="0" style="pointer-events: none;" allowfullscreen></iframe';


//- article
mixin article(title)
  .article
    .article-wrapper
      h1= title
      if block
        block
      else
        p No content provided
