extends layouts/_default

block title
    title Case__fly
    - var title = 'Ребенок - яблоко раздора'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_author-page

block siteFooter
    include partials/_footer
