extends layouts/_default

block title
    title Case__fly
    - var title = 'Мария Будылина'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_author

block siteFooter
    include partials/_footer
