extends layouts/_default

block title
    title Case__fly
    - var title = 'Уход за малышом. Как избежать конфликтов?'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_expert-page

block siteFooter
    include partials/_footer
