extends layouts/_default

block title
    title Case__fly
    - var title = 'Душевный разговор о семье и детях'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_mat-page

block siteFooter
    include partials/_footer
