extends layouts/_default

block title
    title Case__fly
    - var title = 'Поиск по тэгу “Дети”'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_tags

block siteFooter
    include partials/_footer
