extends layouts/_default

block title
    title Case__fly
    - var title = 'Тэги'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_tags-list

block siteFooter
    include partials/_footer
