extends layouts/_default

block title
    title Case__fly
    - var title = 'Скажите, про какие темы нам стоит больше писать материалов?'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_test-page

block siteFooter
    include partials/_footer
